@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --blue: #5046e5;
    --black: rgb(255,255,255);
    --background-red: #f44336;
    --background-green: #4caf50;
    --background-yellow: #fbc02d;
}

.navbar-brand{
    text-decoration: none;
    font: 15px 'montserrat', sans-serif;
    letter-spacing: 1px;
    gap: 10px;
    color: #858c96;
    font-weight: 500;
}

.contain{
    display: grid;

    grid-template-columns: auto 1fr;
}

.sidebar {
    position: sticky;
    top: 0;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 258px;
    height: 100vh;
    padding: 60px .8rem .8rem .8rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background-color: var(--black);
    box-shadow: rgba(50,50,93,.02) 0 2px 5px -1px, rgba(0,0,0,.05) 0 1px 3px -1px;
}

.logo{
    height: 80px;
    /* padding: 30px 20px 14px 11px; */
    display: flex;
    justify-content: center;
    margin-right: 7px;
}

.menu{
    height: 88%;
    position: relative;
    padding: 0;
    list-style-type: none;
}

.menu li {
    padding: 0 .9rem 0;
    margin: 6px 0;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.menu li a:hover{
    background-color: #5046e5;
    border-radius: 4px;
}

.menu li a{
    padding: 14px 0 14px 14px; 
}

.menu .pding-4{
    margin-bottom: 0;
}

.menu a{
    text-decoration: none;
    color: #858c96;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu li a:hover{
    color: #fff;
}

.active{
    cursor: pointer;
    color: #e0e0e058;
    opacity: 1;
}

.menu a i:hover{
    color: #e0e0e058;
    opacity: 0;
}

.menu a span{
    overflow: hidden;
    letter-spacing: 2px;
    font-weight: 500;
}


.menu a i{
    font-size: 1.2rem;
}

.logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/*---------Main body------------*/

.main--content{
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: rgb(240,244,247);
    width: 100%;
    padding: 65px 0rem 1rem 0rem;
    order: 1;
}

.header--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--blue);
    padding: 10px 2rem;
    margin-bottom: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header--wrapper img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.header--wrapper .imgs{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.header--title{
    color: #eff2f5;
}

.user--info{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dropdown-toggle{
    text-decoration: none;
    color: #001528;
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 1000;
    position: relative;
}

.user--info a:hover{
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 8px;
    right: 21px;
    display: flex;
    flex-direction: column;
    border: 1px solid #eff2f7;
    padding: 10px;
    background-color: #fff;
    border-radius: .8rem;
    box-shadow: 0 0 1.25rem rgba(31,45,61,.08);
    transform: translate3d(15px, 48px, 0px);
    width: 150px;
}

.dropdown-item {
    text-decoration: none;
    color: #001528;
    padding: 10px 0;
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: .2px;
    display: flex;
}

.dropdown-item i{
    padding-right: 10px;
}

.account{
    display: flex;
    align-items: center;
}

.account span{
    margin-left: 10px;
    font: 14px 'montserrat', sans-serif;
    font-weight: 500;
    color: #eff2f5;
}

.search--box{
    background: rgba(237, 237, 237);
    border-radius: 15px;
    color: rgba(113, 99, 186, 255);
    display: flex;
    align-items: center;
    padding: 4px 12px;
    gap: 10px;
}

.search--box input{
    background: transparent;
    padding: 10px;
}

.search--box i{
    cursor: pointer;
    font-size: 1.2rem;
    transition: all .5s ease-out;
}

.search--box i:hover{
    transform: scale(1.1); /*zoom*/
}

/*--------- Card Container ----------*/

.card--container{
    background-color: #ffffff;
    padding: 2rem;
    position: fixed;
    top: 14%;
    left: 18.6%;
    border-radius: 4px;
}

.title--contain li{
    list-style: none;
    font-size: 16px;
}

.title--contain a{
    text-decoration: none;
    color: rgba(33,150,243,.85);
    padding-right: 9px;
    font-size: 16px;
}

.title--contain{
    display: flex;
    margin-bottom: 25px;
}

.active--clr{
    color: #b8bdc2;
}


.card--wrapper{
    display: grid;
    grid-template-columns: auto auto;
    gap: 24px;
}



.main--title{
    color: rgb(87,97,105);
    padding-bottom: 10px;
    font-size: 2rem;
}

.card--list{
    display: flex;
    justify-content: space-between;
}

.card--list{
    padding: 10px;
    border-left-color: 2px solid #2196f3!important;
}


.card--list a{
    text-decoration: none;
    display: flex;
    color: rgba(33,150,243,.85);
}

.card--list img{
    margin-right: 10px;
    color: #001528;
}

.card{
    box-shadow: 0 2px 3px rgba(56, 59, 61, .05);
    border: 1px solid #f0f1f2;
    border-radius: .2rem; 
    background-clip: border-box;
    background-color: #fff;
    min-width: 0;
    margin-bottom: 20px;
    padding: 8px;
}

.border-left-3{
    border-left: 3px solid #2196f3 !important;
}

.card__management{
    font-size: 1.2rem;
    color: #39444d;
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}


.payment--card{
    border-radius: 8px;
    padding: 1.2rem;
    width: 260px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .5s ease-in-out;
    margin-right: 10px;
    background-color: #fff;
    box-shadow: 0 0px 10px 0px #c4c9d0;
    border: 1px solid #f0f1f2;
    border-radius: .2rem; 
    background-clip: border-box;
}

.payment__card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.payment--card:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

.card--header{
    flex-direction: column;
    align-items: center;
}

.amount{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.progressbar{
    border: 2px solid #eff2f5;
}

.progress-bar{
    width: 180px;
    height: 20px;
    border-radius: 6px 0 0 6px;
    background-color: #03a9f4;
}

.text-small{
    margin-top: 10px;
}

.title{
    font-size: 1.1rem;
    font-weight: 400;
    margin-right: 10px;
}

.amount--value{
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    margin-bottom: 10px;
}

.icon{
    color: #fff;
    padding: 1rem;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 10px;
    font-size: 1.4rem;
    background: #fdbb38;
}

.card--detail{
    font-size: 18px;
    color: #777777;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
}

.student__list{
    padding-left: 30px;
    padding-left: 30px;

}

.menu-student{
    padding-bottom: 4px;
    margin-bottom: 0;
}

.pding-4{
    padding-bottom: 4px;
    margin-bottom: 0;
}

.menu-student ul li{
    list-style: none;
    margin: 0;
}

.menu-student a{
    text-decoration: none;
    font-family: 'montserrat', sans-serif;
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.menu-student .icon-down{
    margin-left: 30px;
}

.student-list i{
    margin-right: 2px;
}

.student--list li:hover{
    transform: all .3s ease-in-out;
    color: #fff;
}

.student--list li{
    padding: 0;
    background-color: #fff;
}

.student--list li a{
    padding-left: 47px;
}

.payment--card_col1{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.payment--card_col3{
    margin-top: 30px;
}

.mess{
    margin-top: 9px;
    box-shadow: 0 0px 10px 0px #c4c9d0;
    padding: 10px;
    height: 85px;
    transition: all .5s ease-in-out;
    border-radius: 4px;
}

.mess-icon{
    margin-bottom: 10px;
}

.mess--dashboard{
    padding-bottom: 10px;
}

.mess:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

.mess a{
    text-decoration: none;
    color: #39444d;
}

.logout-dashboard{
    padding: 10px;
}

.logout-icon{
    margin-bottom: 10px;
}

.logout-dashboard a{
    text-decoration: none;
    color: #39444d;
}

.logout-dashboard{
    border: 1px solid #eff2f7;
    box-shadow: 0 0px 10px 0px #c4c9d0;
    transition: all .5s ease-in-out;
    border-radius: 4px;
}

.logout-dashboard:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

.tracking{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 30px;
    gap: 20px;
}

.follow{
    font: 19px 'montserrat', sans-serif;
    color: #39444d;   
    font-weight: 500;
}

.fl-dashboard{
    padding: 20px 15px 20px;
    transition: all .5s ease-in-out;
    width: 180px;   
    box-shadow: 0 0px 10px 0px #c4c9d0;
    border-radius: 4px;
}

.fl--dashboard{
    margin-top: 10px;
}

.scores-dashboard{
    transition: all .5s ease-in-out;
    padding: 20px 15px 20px;
    width: 180px;
    border-radius: 4px;
    box-shadow: 0 0px 10px 0px #c4c9d0;
}

.scores-dashboard a{
    text-decoration: none;
    color: #39444d;
}

.scores--dashboard{
    margin-top: 10px;
}

.statistics-dashboard{
    transition: all .5s ease-in-out;
    padding: 20px 15px 20px;
    border-radius: 4px;
    width: 180px;
    box-shadow: 0 0px 10px 0px #c4c9d0;
}

.statistics--dashboard{
    margin-top: 10px;
}

.fl-dashboard:hover,
.statistics-dashboard:hover,
.scores-dashboard:hover{
    cursor: pointer;
    transform: translateY(-5px)
}
/*------ Color CSS -------*/
.light-red {
    background-color: var(--background-red);
}

.light-green {
    background-color: var(--background-green);
}


.light-yellow{
    background-color: var(--background-yellow);
}

.dark-red {
    background: red;
}

.drak-green {
    background: green;
}

.drak-blue {
    background: blue;
}