@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    /* background-color: #c9d6ff;
    background: linear-gradient(to right, #a4d2d9, #4da5aa); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.header-logo{
    margin-bottom: 50px;
}

.main{
    background-image: url(../images/backgroundLogin.jpg);
    /* background-color: #37B5E5; */
    background-size: cover;
    color: #333;
    width: 100%;
    height: 100%;
    position: relative;
}

.container{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 780px;
    max-width: 100%;
    min-height: 300px;
}


.container button{
    background-color: #3891e8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container form{
    background-color: rgba(255,255,255,.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: rgba(255,255,255,.1);
    border: 1px solid transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;

}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sing-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container h1{
    text-transform: uppercase;
}

.container .sing-in{
    transform: translateX(100%);
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 60%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 100px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
}

.toggle{
    background-color: #005ab7;
    height: 100%;
    background: linear-gradient(to right, #5c6bc0e7, #3891e8);
    /* background: linear-gradient(to right, #5c6bc0, #005cb7cf); */
    color: #fff;
    position: relative;
    left: -100px;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}   

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-panel p{
    padding-top: 10px;
    text-transform: uppercase;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-right{
    right: 330px;
    transform: translateX(0);
}